# typy souboru
*.user
*.suo
*.vspscc
*.vssscc
*.webinfo
*.bat
*.dll
*.exe
*.nupkg
*.nuspec
*.d.ts
*.partial
*.bin

# adresare
bin
obj
packages
build
.vscode
.idea
.vs
.cache
wwwroot
node_modules

# specialni soubory
web.config
app.config
*.code-workspace

# Jetbrains metadata
*.iml
.project
MWCore/junit.xml
/MWCore/TescoSW/package-lock.json

/NENMultiweb
config.local.js
